*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;

}

#header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#captures{
    font-size: 250px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bottomleft{
    height: 25%;
    width: 15%;
    position: absolute;
    bottom: 10%;
    left: 1%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 00;
}

p{
    font-weight: 100;
}

#bottom{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

#bottom p{
    position: absolute;
    left: 50px;
}

#img1{
    height: 300px;
    width: 200px;
    background-image: url(https://cdn.pixabay.com/photo/2022/12/29/15/09/camera-7685071_640.jpg);
    position: absolute;
    bottom: 0px;
    left: 40%;
    background-position: center;
    background-size: cover;
    z-index: 10;
}
#img2{
    height: 300px;
    width: 200px;
    background-image: url(https://cdn.pixabay.com/photo/2022/09/17/21/30/camera-7461871_640.jpg);
    position: absolute;
    bottom: 16px;
    left: 55%;
    background-position: center;
    background-size: cover;
}
#img3{
    height: 350px;
    width: 300px;
    background-image: url(https://cdn.pixabay.com/photo/2023/01/06/05/47/digital-camera-7700447_640.jpg);
    position: absolute;
    top: 50%;
    left: 70%;
    background-position: left;
    background-size: cover;
    z-index: 3;
}

#mks{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}